<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8'>
  </head>
  <body>
    <h1>Hi <%= @user.full_name %>, please follow the link below to reset your password.</h1>
    <a href="<%= @url %>">Reset Password</a>
  </body>
</html>