<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8'>
  </head>
  <body>
    <h1>Hi <%= @user.full_name %>, welcome to MyFlix!</h1>
    <p>Your account has been created, please use your email to log in.</p>
  </body>
</html>